<div class="collection-container py-14">
    <header class="section-header text-center mb-12">
<span class="font-bold text-2xl">Catalog</span>
    </header>

    <div class="section-grid min-height-full">
        <mat-grid-list cols="5" rowHeight="300px">
            <mat-grid-tile *ngFor="let gridList of collectionGrid" [routerLink]="['/collection',gridList._id]">
                   
                <div class="grid-image">
                    <img [src]="gridList.img">
                   </div> 
                  <div class="content-title">
                    <div class="content-title-underline">
                        {{gridList.title}}
                    </div>       
                </div>
            </mat-grid-tile>
          </mat-grid-list>
    </div>
</div>
