.mat-toolbar {
    background-color: white;
    .header-item-navigation {
        color: black;
    }
}

.mat-icon {
    color: black !important;
}

.header-item-navigation {
    button {
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 0.425px;
    }
}