<mat-toolbar class="mx-auto border-x justify-between h-40">
    <img routerLink="home" src="//cdn.shopify.com/s/files/1/0612/6472/4149/files/logo_100x.webp?v=1648280596" alt="">
    <div class="header-item-navigation">
        <button mat-button routerLink="home">Home</button>
<button mat-button [matMenuTriggerFor]="belowMenu"
#levelOneTrigger="matMenuTrigger" (mouseenter)="levelOneTrigger.openMenu()"
 routerLink="collection">Collections <mat-icon>expand_more</mat-icon></button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item *ngFor="let menuItem of collectionMenu" [routerLink]="['/collection',menuItem._id]">{{menuItem.title}}</button>
</mat-menu>

<button mat-button >About US</button>

<button mat-button>FAQ's</button>
<button mat-button>Contact Us</button>
<button mat-button [matMenuTriggerFor]="belowMenuCatalog">Add Collection Details <mat-icon>expand_more</mat-icon></button>
<mat-menu #belowMenuCatalog="matMenu" yPosition="below">
    <button mat-menu-item *ngFor="let menuItem of  formContent" [routerLink]="menuItem.url">{{menuItem.title}}</button>
  </mat-menu>

    </div>
    <button mat-icon-button data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
        <mat-icon [matBadge]="1" [matBadgeHidden]="false" matBadgeColor="warn">shopping_cart
        </mat-icon>
    </button>
  </mat-toolbar>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
   <div class="container cart-content">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title divide-x" id="offcanvasExampleLabel">Cart</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="row cart-body-container">
         <div class="col-4 cart-img">
            <img src="../../../assets/images/collection_card_cotton_tshirsts.webp" alt="">
         </div>
         <div class="col-8">
            Al Nassr Ronaldo Home Fan Version Jersey
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="First group">
                  <button type="button" class="btn btn-outline-secondary" (click)="addRemovItem('remove')"><i class="bi bi-dash-lg" ></i></button>
                    <input type="text" class="form-control" aria-describedby="btnGroupAddon" [ngModel]="itemQuantity">      
                  <button type="button" class="btn btn-outline-secondary" (click)="addRemovItem('add')"><i class="bi bi-plus-lg"></i></button>
                 <span class="item-price pl-2 pt-2 font-bold">{{price | currency:'INR'}}</span>
                </div>
         </div>
        </div>
      </div>
  
   </div>
   <div class="row total-amount">
    <span class="col-6 font-bold">SUBTOTAL</span>
    <span class="col-6 text-end font-bold">{{subtotal | currency:'INR'}}</span>
  </div>
  
  </div>