<mat-toolbar class="mx-auto border-x justify-between h-40">
    <img routerLink="home" src="//cdn.shopify.com/s/files/1/0612/6472/4149/files/logo_100x.webp?v=1648280596" alt="">
    <div class="header-item-navigation">
        <button mat-button routerLink="home">Home</button>
<button mat-button [matMenuTriggerFor]="belowMenu" routerLink="collection">Collections <mat-icon>expand_more</mat-icon></button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item *ngFor="let menuItem of collectionMenu">{{menuItem}}</button>
</mat-menu>

<button mat-button >About US</button>

<button mat-button>FAQ's</button>
<button mat-button>Contact Us</button>
<button mat-button [matMenuTriggerFor]="belowMenuCatalog">Add Collection Details <mat-icon>expand_more</mat-icon></button>
<mat-menu #belowMenuCatalog="matMenu" yPosition="below">
    <button mat-menu-item *ngFor="let menuItem of  formContent" [routerLink]="menuItem.url">{{menuItem.title}}</button>
  </mat-menu>

    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon [matBadge]="1" [matBadgeHidden]="false" matBadgeColor="warn">shopping_cart
        </mat-icon>
    </button>
    <mat-menu #menu class="w-64 bg-white">
        <div class="p-3 divide-y divide-solid">
            <div class="pb-3 flex justify-between">
                <span class="mr-16">1 item</span>
                <a routerLink="cart">Cart</a>
            </div>
            <div class="py-3">
                <div class="flex justify-between font-light mb-2">
                    item X Quantity
                    <span class="font-bold">{{ 100 | currency}}</span>
                </div>
            </div>
            <div class="flex justify-between py-3 font-light">
                Total: <span class="font-bold">{{100 | currency}}</span>
            </div>
            <div class="py-3 flex justify-between">
                <button class="bg-rose-600 text-white rounded-full w-9 h-9">
                    <mat-icon>remove_shopping_cart</mat-icon>
                </button>
                <button class="bg-green-600 text-white rounded-full w-9 h-9">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </mat-menu>
  </mat-toolbar>
  