<div class="collection-details" *ngIf="catalog">
    <div class="collection-hero">
        <img [src]="catalog.img" alt="" class="p-0">
    </div>
</div>
<div class="container pt-24">
    <div class="row">
        <div class="col-md-3 p-7 grid-item-container" *ngFor="let gridList of collectionList">
            <a [routerLink]="['/itemDetails',gridList._id]" (click)="getCollectionDetails(gridList)">
                <img class="m-0" mat-card-image [src]="gridList.img">
            </a>
            <div class="card-content text-xl py-1.5">
                {{gridList.content}}
            </div>
            <div class="price text-sm">
                {{gridList.price}}
            </div>
        </div>
    </div>
</div>