<mat-card class="text-left font-sans">
    <div class="text-black">
        <img src="https://cdn.shopify.com/s/files/1/0612/6472/4149/products/WhatsAppImage2022-08-22at2.21.38PM_3_540x.jpg?v=1661158821&quot"
            alt="" class="mb-[40px] mx-auto w-full h-[200px]">
        <div class="w-full ">
            <span class="text-base text-black">Argg New Jersey</span>
        </div>
        <div class="mt-1 product_price text-lg">
          <span>Rs 899</span>
        </div>
    </div>

</mat-card>
