<div class="carousal-section">
    <ngb-carousel *ngIf="images.length" [showNavigationArrows]="false" [showNavigationIndicators]="false">
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper w-full">
                <img [src]="image" class="w-full h-[650px]" alt="Random first slide" />
            </div>
        </ng-template>
    </ngb-carousel>
</div>
<div class="content-section">
    <div class="text-center my-[100px]">
        <div class="intro-content max-w-7xl px-[40px]">
            <h1><span class="font-bold">The House Of jersey(H.O.J)</span> is an apparel merchandise brand which aims to
                bring
                quality authentic
                sports merchandise to sports fans in India</h1>
            <div class="my-[100px]">
                <h1> Trending now</h1>
                <h1><span class="font-bold">International jerseys</span></h1>
            </div>
        </div>
    </div>
</div>

<div class="section-divider"></div>

<div class="apparel-section my-[100px] max-w-7xl px-10">
    <app-slick [newSlides]="newLaunchSlides"></app-slick>
</div>
<div class="section-divider"></div>


<div class="apparel-section max-w-7xl px-10">
    <div class="new-selection text-center">
        <p class="subtitle text-base">FAN VERSION</p>
        <h3 class="collection-title mb-5">Season 22/23 Jerseys</h3>
    </div>
   <app-slick [newSlides]="newLaunchSlides"></app-slick>
</div>
<div class="section-divider"></div>

<div class="apparel-section max-w-7xl px-10">
    <div class="new-selection text-center">
        <p class="subtitle text-base">MOST POPULAR</p>
        <h3 class="collection-title mb-5">Printed Fan Version</h3>
    </div>
   <app-slick [newSlides]="newLaunchSlides"></app-slick>
</div>

<div class="new-apparel-section max-w-7xl px-10">
    <div class="text-center section-header-title text-xl mb-24">
        <mat-grid-list cols="2">
            <mat-grid-tile *ngFor="let list of matList">
                <mat-card class="p-0">
                    <div class="w-full mat-tile-content">
                        <img [src]="list.img" alt="">
                    </div>      
                </mat-card>   
            </mat-grid-tile>
          </mat-grid-list>
    </div>
</div>
<div class="section-divider"></div>

<div class="new-apparel-section max-w-7xl px-10">
    <mat-grid-list cols="2" class="mb-24" rowHeight="2:1">
        <mat-grid-tile>
            <div class="clearance-sale">
                <p class="subtitle uppercase">CLEARANCE SALE !</p>
                <h1 class="font-bold text-3xl mb-5">Club Polo T-shirts</h1>
                <div class="featured-row font-normal">
                    <p>Get any Club Polo T-shirt @ Flat 499<br>
                    Made from Cotton Fabric.<br>
                    Premium Quality.
                    Club Logo on chest.
                    </p>
                </div>
                <button mat-raised-button color="primary">Order Now</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="clearance-sale-img">
                <a href="">
                    <div class="img-wrap">
                        <img src="../../../assets/images/clearance-sale.webp" alt="">
                    </div>
                </a> 
            </div>          
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="section-divider"></div>

<div class="new-apparel-section max-w-7xl px-10">
    <mat-grid-list cols="2" class="mb-24" rowHeight="2:1">  
        <mat-grid-tile>
            <div class="callout-images">
                <div class="callout-image-centered">
                    <img class="callout-image" src="../../../assets/images/barca-image-callout.webp" alt="">
                    <img class="callout-image"  src="../../../assets/images/barca-image-2.avif" alt="">
                    <img class="callout-image"  src="../../../assets/images/callout-image-3.avif" alt="">
                </div>
            </div>          
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="clearance-sale">
                <h1 class="font-bold text-3xl mb-5">Player version Jerseys</h1>
                <div class="featured-row font-normal">
                    <p>Get the Best in Quality Player Version Jerseys only<br>
                    here at the House Of Jersey.<br>
                    </p>
                </div>
                <button mat-raised-button class='mt-5' color="primary">Order Now!</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>


<div class="section-divider"></div>

<div class="new-apparel-section max-w-7xl px-10">
    <div class="text-center section-header-title text-xl mb-24">
        <mat-grid-list cols="2">
            <mat-grid-tile *ngFor="let list of mugList">
                <mat-card class="p-0">
                    <div class="w-full mat-tile-content">
                        <img [src]="list.img" alt="">
                    </div>      
                </mat-card>   
            </mat-grid-tile>
          </mat-grid-list>
    </div>
</div>


<div class="section-divider"></div>


<div class="new-apparel-section max-w-7xl px-10">
    <div class="mb-24">
        <h1 class="font-bold text-3xl mb-5">Trending Offers !</h1>
        <mat-grid-list cols="2">
            <mat-grid-tile *ngFor="let list of tendingOffers">
                <mat-card class="p-0 m-2.5">
                    <div class="w-full mat-tile-content">
                    <a href="">   <img [src]="list.img" alt=""></a>
                    </div>      
                </mat-card>   
            </mat-grid-tile>
          </mat-grid-list>
    </div>
</div>

<div class="section-divider"></div>

<div class="apparel-section max-w-7xl px-10">
    <div class="new-selection text-center">
        <p class="subtitle text-base">NEW LAUNCH</p>
        <h3 class="collection-title mb-5">Club Jackets</h3>
    </div>
   <app-slick [newSlides]="clubJackets"></app-slick>
</div>